# Virtual Environment
.venv/

# Python Caching
__pycache__

# Tooling Cache
.ruff_cache/

# Time Series and Chart Output
output/

# IDEs
.idea/
.vscode/

# Downloaded Sources
.cache/

# Rust Build Output
target/
src/platform_crowd_model/*.so
